/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    keymap {
        compatible = "zmk,keymap";

// ----------------------------------------------      ----------------------------------------------
// | ESC  |  Q  |  W  |  E  |  R  |  T  |              |  Y  |  U  |  I  |  O  |  P  |     |  BKSP  |
// | TAB    |  A  |  S  |  D   |  F  |  G  |             |  H  |  J  |  K  |  L  |  '  |    ENTER   |
// | SHIFT     |  Z  |  X  |  C  |  V  |  B  |              |  N  |  M  |  ,  |  .  |  /  |  RSHFT  |
// | LCTRL   | LALT| LGUI |   SPACE        |             |   SPACE/L1  | L2 |  RGUI  |  RALT  |RCTRL|
// -------------------------------------------        -----------------------------------------------

        default_layer {
            bindings = <
    &kp ESC   &kp Q    &kp W    &kp E &kp R     &kp T /**/ &kp Y &kp U &kp I     &kp O     &kp P    &kp BSPC  &kp BSPC
    &kp TAB   &kp A    &kp S    &kp D &kp F     &kp G /**/ &kp H &kp J &kp K     &kp L     &kp APOS &kp ENTER
    &kp LSHFT &kp Z    &kp X    &kp C &kp V     &kp B /**/ &kp N &kp M &kp COMMA &kp DOT   &kp UP   &kp RSHFT
    &kp LCTRL &kp LALT &kp LGUI &none &kp SPACE       /**/ &mo 1       &mo 2     &kp RIGHT &kp DOWN &kp LEFT
            >;
        };


        symbols_layer {
            bindings = <
    &kp N1   &kp N2 &kp N3 &kp N4 &kp N5    &kp N6        /**/ &kp N7    &kp N8   &kp N9    &kp N0    &kp MINUS  &kp EQUAL  &kp GRAVE
    &kp CAPS &none  &none  &none  &none     &none         /**/ &none     &kp LBKT &kp RBKT  &kp BSLH  &kp SEMI   &trans
    &trans   &none  &none  &none  &kp DOWN  &kp C_VOL_DN  /**/ &none     &none    &none     &none     &kp SLASH  &trans
    &trans   &trans &trans &none  &trans                  /**/ &trans             &trans    &trans    &trans     &trans
            >;
        };


        fn_layer {
            bindings = <
    &kp F1 &kp F2          &kp F3          &kp F4          &kp F5       &kp F6       /**/ &kp F7     &kp F8     &kp F9    &kp F10    &kp F11      &kp F12    &none
    &trans &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3 &bt BT_SEL 4 /**/ &none      &none      &none     &none      &none        &bt BT_CLR
    &trans &rgb_ug RGB_TOG &rgb_ug RGB_BRI &rgb_ug RGB_BRD &none        &none        /**/ &bt BT_NXT &bt BT_CLR &none     &none      &kp C_VOL_UP &kp C_PP
    &trans &trans          &trans          &none           &trans                    /**/ &trans                &trans    &kp C_PREV &kp C_VOL_DN &kp C_NEXT
            >;
        };
    };
};
